*{
    padding: 0;margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */
}
main{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /* padding: 10px; */
}
main #one{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20rem 1fr 13rem;
    grid-template-rows: 6rem 1fr;
    grid-template-areas: "title links btn"
                        "hero hero hero"
    ;
}
#title{
    grid-area: title;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 900;
    /* font-family:cursive; */
    cursor: pointer;
    background: linear-gradient(red ,blue );
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}
#links{
    grid-area: links;
}
#links ul{
    display: flex;
    justify-content: center;
    gap: 10rem;
    text-align: center;
    padding-top: 1.8rem;
    font-size: 1.3rem;
    font-weight: 700;
}
#links ul li{
    list-style-type:none;
    cursor: pointer;
}
#btn{
    grid-area: btn;
    padding: 20px;
}
#btn button{
    height: 3rem;
    width:8rem;
    border-radius: 40px;
    background-color: black;
    color: whitesmoke;
}
#btn button i{
    font-size: 1rem;
}
#btn button:hover{
    background-color: whitesmoke;
    color: black;
}
#hero{
    /* background-color:olive; */
    grid-area: hero;
    padding: 1rem;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
#hero img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}
#hero #herocontent{
    position: absolute;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    inset: 0;
    justify-content: center;
    z-index: 2;
    text-align: center;
    right: calc(20%);
    top: calc(-20%);font-size: 1.5rem;
    padding: 20px;
    /* background: linear-gradient( blue,red); */
    height: 40rem;
    width: 70%;
    margin-top:7rem ;
}
#hero #herocontent #herobtn{
    width: 14rem;
    height: 3rem;
    position: absolute;
    left:calc(40%);
    top: calc(60%);
    border-radius: 20PX;
    background-color:black;
    color: white;
    border: none;
    margin: 20px;
    font-size: 1rem;
}
#hero #herocontent #herobtn:hover{
    background-color: aliceblue;
    color: black;

}